{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Password Manager</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/compute_item.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/navigation_bar.css' %}" type="text/css">
</head>

<body>
  {% include 'navigation_bar.html' %}
  <div class="compute-item">
    <h1>Update Password</h1>
    <form method="POST" action="{{ reverse_url }}">
      {% csrf_token %}
      <div class="item-input">
        <label for="username">Username:</label>
      <input type="text" name="username" value="{{item.user_name}}" required>
      </div>
      <div class="item-input">
        <label for="password">Password:</label>
        <input type="password" name="password" value="{{item.password}}" required>
      </div>
      <div class="item-input">
        <label for="url">URL:</label>
        <input type="url" name="url" value="{{item.url}}" required>
      </div>
      <button class="button" type="submit">Save modifications</button>
    </form>

  </div>
</body>

</html>