{% load static %}
<nav>
    <div class="title" onclick="gotoHome()">
        <h1>Password_Manager</h1>
        <div class="flash"></div>
    </div>
    <ul class="nav-ul">
        {% if user.is_authenticated %}
        <li class="action-username">
            <p>Logged as {{ user.username }}</p>
            <a href="changedmymind" title="Change username" class="tooltip">
                <img class="edit" src="{% static 'img/edit.png' %}" />
            </a>
        </li>
        <li><a href="/items_list">My passwords</a></li>
        <li><a href="/shared_items">Shared passwords</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/accounts/logout">Log out</a></li>
        {% else %}
        <li><a href="/accounts/login">Log in</a></li>
        <li><a href="/accounts/register">Sign up</a></li>
        {% endif %}
    </ul>
</nav>

<script>
    function gotoHome() {
        window.location.href = "/";
    }
</script>