{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Password Manager</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/items.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/navigation_bar.css' %}" type="text/css">
    <script type="text/javascript" src="{% static 'js/item_list.js' %}" defer></script>
</head>

<body>
    {% include 'navigation_bar.html' %}
    <div class="items-list">
        <h1 class="title">Shared passwords</h1>
        <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Connection URL</th>
                <th>Creation Date</th>
                <th>Owner</th>
                <th>Shared with</th>
                <th>Sharing date</th>
            </tr>
        </thead>
        <tbody>
            {% for shared in shared_items %}
            <tr>
                <td>{{ shared.item.user_name }}</td>
                <td data-id="{{ shared.item.id }}" class="password">••••••</td>
                <td><a href="{{ shared.item.url }}" target="_blank">{{ shared.item.url }}</a></td>
                <td>{{ shared.item.creation_date }}</td>
                <td>{{ shared.item.creation_user }}</td>
                <td>{{ shared.receiving_user }}</td>
                <td>{{ shared.creation_date }}</td>
                <td class="actions shared"><a href="{% url 'delete_shared' shared.id %}" title="Delete" class="tooltip"><img class="trash" src="{% static 'img/trash.png' %}" /></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</body>