body{
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: rgb(233, 228, 228);
    background-color: rgb(31, 31, 36);
}

a {
    text-decoration: none;
    color: rgb(233, 228, 228);
}

a:hover {
    cursor: pointer;
}

.error {
    color: red;
}

.action-username {
    display: flex;
    align-items: center;
}

.action-username img {
    width: 12px;
    height: 12px;
    padding: 5px;
    border-radius: 4px;
    background-color: rgb(33, 155, 33);
    border: none;
}

.action-username img:hover {
    box-shadow: 0 0 4px yellowgreen;
}

.action-username a:hover {
    border: none;
}

.action-username .tooltip {
    display: inline;
    position: relative;
}

.action-username .tooltip:hover:before {
    background-color: rgb(0, 0, 0);
    color: yellowgreen;
    content: attr(title);
    left: 0;
    bottom: -25px;
    position: absolute;
    z-index: 100;
    padding: 5px;
    width: 110px;
    text-align: center;
}

.button {
    font-size: 16px;
    padding: 10px 20px;
    text-transform: capitalize;
    border-radius: 4px;
    border: 2px outset yellowgreen;
}

.button:hover {
    cursor: pointer;
    border: 2px inset yellowgreen;
}

.button:active {
    color: yellowgreen;
    background-color: black;
}

#index_page {
    margin: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#index_page h1{
    text-align: center;
    font-size: clamp(22px, 6vw, 40px);
}

#index_page .lock{
    width: 25vw;
    min-width: 200px;
    filter: invert(100%);
    border-radius: 25%;
    box-shadow: 0px 0px 4px purple;
    transition: .3s;
}

#index_page .lock:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px purple;
}

#error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
}

#error-page .error-type{
    font-size: 90px;
}

#error-page .error-message{
    font-size: 40px;
}