.items-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    gap: 20px;
}

.items-list .button {
    margin-bottom: 100px;
}

.items-list .head-title {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
}

.items-list .title {
    color: yellowgreen;
    padding-bottom: 10px;
    border-bottom: 4px solid yellowgreen;
}

.items-list .head-title .button {
    margin: 0;
    height: fit-content;
}

.items-list table {
    width: 90%;
}

.items-list table thead tr th {
    text-align: start;
    height: 60px;
    font-size: 18px;
    padding: 0 5px;
}

.items-list .actions a:first-child {
    color: yellowgreen;
}

.items-list .shared a:first-child {
    color: red;
}

.items-list .actions a:nth-child(2) {
    color: red;
}

.items-list .actions a:nth-child(3) {
    color: aqua;
}

.items-list table tbody tr td {
    font-size: 16px;
    height: 40px;
    padding: 0 5px;
}

.items-list .password {
    width:150px;
    word-break:break-all;
}

.items-list .password:hover {
    cursor: pointer;
}

.items-list .actions img {
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 4px;
}

.items-list .actions .trash {
    background-color: rgb(182, 25, 25);
}

.items-list .actions .edit {
    background-color: rgb(33, 155, 33);
}

.items-list .actions .share {
    background-color: #3867ff;
}

.items-list .actions img:hover {
    filter: drop-shadow(0px 0px 6px yellowgreen);
}

.item-url {
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.items-list .tooltip {
    display: inline;
    position: relative;
}

.tooltip:hover:before {
    background-color: rgb(0, 0, 0);
    content: attr(title);
    left: 0;
    bottom: 50px;
    position: absolute;
    z-index: 100;
    padding: 5px;
}

.items-list .score {
    display: flex;
    align-items: center;
    gap: 10px;
}

.items-list .score .score-bar {
    width: 60%;
    height: 3px;
    border-radius: 10px;
    background-color: #3b3b3b;
}

.items-list .score .score-1 {
    width: 20%;
    height: 100%;
    border-radius: 10px;
    background-color: red;
}

.items-list .score .score-2 {
    width: 40%;
    border-radius: 10px;
    height: 100%;
    background-color: orangered;
}

.items-list .score .score-3 {
    width: 60%;
    border-radius: 10px;
    height: 100%;
    background-color: orange;
}

.items-list .score .score-4 {
    width: 80%;
    border-radius: 10px;
    height: 100%;
    background-color: yellow;
}

.items-list .score .score-5 {
    width: 100%;
    border-radius: 10px;
    height: 100%;
    background-color: yellowgreen;
}