nav {
    display: flex;
    justify-content: space-between;
    background-color: #0E3B2C;
    color: #F2F2F2;
    padding: 12px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

nav li {
    margin: 0 5px;
}

nav a {
    color: #F2F2F2;
    display: block;
    padding: 6px 12px;
    text-decoration: none;
}

nav a:hover {
    cursor: pointer;
    padding-bottom: 5px;
    border-bottom: 2px solid #F2F2F2;
}